body {
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5F9EA0;
}

.container {
  flex-direction: column;

}

h1 {
  font-family: Arial, sans-serif;
  font-size: 76px;
  color:   #87CEEB;
  text-shadow: 
  4px 4px 8px  rgba(32, 44, 178, 0.498)
 
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin-bottom: 100px;
}

.name-input,
.due-date-input {
  font-size: 35px;
  padding: 16px;
  border-radius: 9px;
  border: none;
}

.add-todo-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 35px;
  cursor: pointer;
  border-radius: 9px;
  padding: 16px;
}

.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 35px;
  cursor: pointer;
  padding: 8px 32px;
  border-radius: 9px;
}

.todoName {
  font-size: 35px;
  background-color: white;
  padding: 6px 16px;
  border-radius: 9px;
}

.todoDate {
  font-size: 35px;
  background-color: white;
  padding: 6px 16px;
  border-radius: 9px;
}

/* Responsive styles */

@media (max-width: 800px) {
  

  .name-input,
  .due-date-input,
  .add-todo-button,
  .delete-todo-button {
    font-size: 18px;
    padding: 5px;
  }

  .delete-todo-button {
    padding: 5px 10px;
  }

  .todoName,
  .todoDate {
    font-size: 18px;
  }
}



@media (max-width: 600px) {
  .name-input,
  .due-date-input,
  .delete-todo-button {
    font-size: 14px;
    padding: 3px;
  }

  .add-todo-button {
    font-size: 16px;
    padding: 3px 2px;
  }

  .delete-todo-button {
    padding: 6px 6px;
  }

  .todoName,
  .todoDate {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .name-input,
  .due-date-input,
  .delete-todo-button {
    font-size: 12px;
    padding: 3px;
  }

  .add-todo-button {
    font-size: 14px;
    padding: 3px 2px;
  }

  .delete-todo-button {
    padding: 6px 6px;
  }

  .todoName,
  .todoDate {
    font-size: 12px;
  }
}

@media (min-width: 1024) {
  .container {
    width: calc(100% - 20px);
  }
}